# exclude everything in data
data/*

# exception to the rule
!data/.gitkeep 

# exclude vscode settings folder
.vscode/*

# ignore compiled bytecode
*.pyc

# exclude this
.ipynb_checkpoints/*

.DS_Store